<h1>Your Leave Has Cancelled</h1>
FromDate: <%= @leave.from_date%>
ToDate: <%= @leave.to_date%>
LeaveType: <%= @leave.leave_type.name %>
Reason : <%= @leave.reasion %>
No Of Days: <%=@leave.no_of_days %>